h1,h2,h3,h4,h5,h6{
    color: rgb(2, 26, 93);
    font-weight: 700px;
}

/*header nav ul  li {
    width: 100%;
   height: 100px;
    background-color: #A7C6ED
    ;
    text-align: center;
    color: rgb(218, 227, 235);
display:inline;
font-size-adjust: 15px;


}*/
.img_logo{
    width: 4em;
    height:4em;
}
#img_main{
    width: 100%;
    height: 300%;
}
header nav ul li{
    list-style-type: none;
    padding: 30px;
}
/*header>nav >ul>li>a{
    padding: 6px 20px 6px 20px;
    color: rgb(249, 249, 254);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    
}*/
#menu span 
{
    margin-right: 20px;
    margin-top: 24px;
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    
    ;
    color: rgb(10, 16, 16);
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    font-size: 16px;
}
p.menu
{
    text-indent: 10px;
    font-style: italic;
    overflow: visible;
}
aside*{
    color: blueviolet(180,116,33);
    list-style-type: none;
}
#content input{
    width: 40%;
    height: 40px;
    padding: 5px;
    border:  solid linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    ;
    margin: 10px;
    border-radius: 5px;
    font-family: 'cairo';

}
input[type='submit']
{
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    ;
    border:2px solid rgb(185, 189, 189);
    color:white ;
}
#content input ::placeholder
{
    color: #d48;
}
textarea{
    width: 80%;
    height:100px;
    padding: 3px;
    border: 1px solid rgba(63, 198, 216, 0.596);
    margin: 10px;
    border-radius:5px ;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(11, 61, 73);
}
div+form{
    padding: 20px;

}
#footer
{
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    ;
    color: rgb(46, 8, 34);
    padding: 5px;
    border-radius: 30px;
    margin: 5px;
    text-align:center;
}
#footer .icon>li{
    list-style-type: none;
}
 nav li  :hover{
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
;

color: black;
}


 *li :hover{
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
}
ul li ul li{
    background:#A7C6ED
    ;
    
    border-top:  solid rgb(198, 211, 223);
    visibility: hidden;
}
nav ul br li a ul li{
    position: absolute;
    right: 0%;
    top: 100%;
    width: 250px;
padding: 0;
margin: 0;
    box-shadow: rgb(193, 199, 15);
    z-index: 3;
display: none;
border-radius: 5px;
}

ul li ul li:hover{
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
font-size: 10px;
    color: black;
}
aside div  ul li{
border:  solid wheat;
border-radius: 10px;
width: 150px;
height: 50px;
text-align-last: center;
display: inline;
margin: 20px;
padding: 10px;
}
#li{
    position: absolute;
top: 0%;
left:  0%;
width: 100px;
}
p{
color: black;
font-style: normal;
font-family:initial;
size: 20px;
padding: 20px;
margin: 5px;
}
#menu span:hover{
background-color: rgb(187, 71, 123);
color:black;

}
.linke a{
text-decoration: none;
color: black;
}
*{
    margin: 0;
    padding: 0;
}
.home{
    background: url(img/كتب.jpg);
    background-size: cover;
    height: 100px;
}
.navebar{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    ;
}
.navebar .logo{
    width: 140px;
    height: auto;
    padding: 20px 100px;
}
.navebar ul{
    float: right;
    margin-right: 20px;
    direction: rtl;
}
.navebar ul li{
list-style: none ;
margin: 0 8px;
display: inline-block;
line-height: 80px;

}
.navebar ul li a{
font-size: 20px;
color: white;
padding: 6px 13px;
text-decoration: none;
transition: 0.4s;


}
.navebar ul li a.active,
.navebar ul li a:hover{
   background:  linear-gradient(125deg,#52b9ef 0%,#0091a7 60%);
    ;
    border-radius: 10px 15px;
}
.home .center{

    position:absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    user-select: none;
}
.conter h1{
color: white ;
font-size: 70px;
width: 700px;
font-weight: bold;
text-align:end;
}
.index{
    width: 1020px;
   transition: all 1.5;
   overflow: hidden;
   margin: auto;
   display: inline;
   margin-top:110px;
   
}
.contener{
 float: right;
 margin: 20px;
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 370px;
 height: 400px;
 overflow: hidden;
 background: #fff;
 border-radius: 5px;
 box-shadow: 0 0 3px #00000073;  
 transition:all 0.3s ; 
}
        
.contener:hover{
    transform: translateY(-6px);
    box-shadow: 0 11px 14px rgb(0 0 0/25%),0 8px 20px rgb(0 0 0/10%);
}
.img{
display: block;
width: 100%;
height: 700px;
overflow: hidden;

}
.img img{
    width: 100%;
}
body{

background-image:linear-gradient(to top,#053a46,transparent);

}